* { 
	margin: 0; 
	padding: 0; 
}

#all{
	height: 100%;
	width: 100%;
	background-image: url("./conversation/back.png");
	background-size: 115%;
	background-repeat: no-repeat;
	background-position: center;
}

.button{
	height: 10%;
	text-align: center;
}
.button button{
	height: 50%;
	width: 100px;
}

.setas{
	height: 10%;
	text-align: center;
}

.main {
    min-height: 79%; 
    position: relative; 
    width: 100%;
}
#footer{    
    position: absolute;
    bottom: 0; 
    width: 100%;
    text-align: center;
}
#img{
	height: 160px;
	width: 480px;
}

.chefao {
    min-height: 80%; 
    position: absolute; 
    width: 100%;
}
#person{    
    position: absolute;
    bottom: 0; 
    width: 100%;
    text-align: right;
}
#circe{
	height: 480px;
	width: 480px;
}
